__pycache__
*.pyc
.vscode
.venv
*.egg-info
.pytest_cache
experiments/*
*.csv
*.db
*.pkl
flib/sim/AMLsim/outputs
flib/sim/AMLsim/tmp
flib/sim/AMLsim/target
flib/train/federated_learning/results
old
!experiments/12_banks_difficult/data/param_files